extends layout

block content

  div(class="jumbotron vertical-center")
    div(id="menu" class="center")
      h1 Loteria 
      
      if success
        p #{success}
        p Share this link for people to join:
        div(class="input-group")
          input(id="secretLink" class="form-control" placeholder="#{gameLink}")
      else
        if displayName
          p Hello, #{displayName}
        p Rules for the game: Diagonals, inner square, outer square, many people can join.
        p #{error}
        br
        form(action="" method="post" class="input-group")
          input(id="password" class="form-control" placeholder="Password")
          span(class="input-group-btn")
            button(id="create" class="btn btn-default") Create
    
    
  script.
    $(document).ready( function () {
      
    });
    
