extends layout

block content
  script(src='https://cdn.auth0.com/js/lock/12.0.2/lock.min.js')
  script.
    DOMAIN = '#{DOMAIN}';
    CLIENT_ID = '#{CLIENT_ID}';
    REDIRECT_URL = '#{REDIRECT_URL}';
  script.
    var lock = new Auth0Lock (CLIENT_ID, DOMAIN, {
      auth: {
        redirectUrl: REDIRECT_URL,
        responseType: 'code',
        params: {
          scope: 'openid email profile' // Learn about scopes: https://auth0.com/docs/scopes
        }
      }
    });
 ddiv(class="jumbotron vertical-center")
    div(id="menu" class="center")
      h1 Bienvenido a La Loteria de derechos de las mujeres. Da clic para iniciar a jugar 
      h2 Este juego fue elaborado por la Asocionación SI HAY MUJERES EN DURANGO A.C. para la campaña de derechos de las mujeres.
      h3 Patrocinado por Semillas 

      p(class="red") #{error}
        p Hello, Guest
        a(href="/join" class="btn btn-default btn-block") Iniciar Loteria
      
 