extends layout

block content
  ul(id='messages')
  form(action='')
    input(id='m' autocomplete='off')
    button Send
    
  script.
    $('form').submit(function() {
      socket.emit('chat message', $('#m').val());
      addMsg($('#m').val());
      $('#m').val('');
      return false;
    });
    
    socket.on('connect', function(data) {
      socket.emit('join', 'Hello World from client');
    });
    
    function addMsg(msg) {
      $('#messages').append($('<li>').text(msg));
    }
    
    socket.on('chat message', function(msg) {
      addMsg(msg);
    });
