extends layout

block content
    
  div(class="jumbotron vertical-center")
    div(id="menu" class="center")
      h1 Loteria 
      a(href="#" class="btn btn-primary btn-lg btn-block") Create Game
      a(href="#" class="btn btn-default btn-block" id="joinLink") Join Game
      a(href="#" class="btn btn-default btn-block") Monitor Game
      br
      div(class="input-group")
        input(class="form-control" placeholder="Secret link")
        span(class="input-group-btn")
          button(type="submit" class="btn btn-default") Join
      
  
  script.
    function generateRandomID() {
      var keyLength = 10;
      var key = '';
      var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      for (var i = 0 ; i < keyLength; i++) {
        random = ((Math.floor(Math.random() * 100)) % possible.length); // 0 - (length-1)
        key += possible.charAt(random);
      }
      console.log('returning key: ' + key);
      return key;
    }
    
    $(document).ready( function () {
      var random = generateRandomID();
      $("#joinLink").attr("href", "loteria/"+random );
    });
    
