
extends layout

block content
 

  div(class="jumbotron" vertical-align="top")
      img(src="images/semillas.png")
      <img src="images/cartaMenu.png" alt="Iniciar Juego">
      <h1 align ="center">Loteria de Derechos de Las Mujeres
    div(id="menu" class="center")
      p(class="red") #{error}
      p Hola, Visitante
        form(action="/loteria" method="post")
          div(class="input-group")
            span(class="input-group-btn")
             <a href="#" id="submit-form">
             </a>
             <br><br><br
      h4 Este juego ha sido realizado por la Organización Si Hay Mujeres en Durango A.C. con el fin de promover la igualdad de género y los derechos de las mujeres en México.
      h4 Y ha sido patrocinado por la organización Semillas    
      
  
  script.
    $(document).ready( function () {
      $('#submit-form').click(function() {
      $('form').submit();
    });
    });
    