
extends layout


block content
 

  
  div(class="jumbotron" vertical-align="top")
    div(id="menu" class="center")
      p(class="red") #{error}
      p Hola, Visitante
        form(action="/loteria" method="post")
          div(class="input-group")
            span(class="input-group-btn")
             <a href="#" id="submit-form">
             button(onclick="nextCard()" class="btn btn-primary btn-block") Clic Aquí para Jugar
             </a>
             <br><br><br
     
  
  script.
    $(document).ready( function () {
      $('#submit-form').click(function() {
      $('form').submit();
    });
    });
    