extends layout

block content
  script(src='https://cdn.auth0.com/js/lock/10.0/lock.min.js')

  div(class="jumbotron vertical-center")
    div(id="menu" class="center")
      h1 Loteria 
      br
      form(action="/join" method="post")
        if displayName
          input(name="nicknameContainer" class="form-control" placeholder="Nickname" value="#{displayName}" required)
        else
          input(name="nicknameContainer" class="form-control" placeholder="Nickname" value="bob" required)
          div(class="input-group")
            input(name="secretCodeContainer" class="form-control" placeholder="Secret code" value="yrbULUnYYV" required)
            span(class="input-group-btn")
              input(id="joinGame" type="submit" class="btn btn-primary" value="Join")
      br
      p(class="red") #{error}
      p(class="green") #{success}
      a(href="../" class="btn btn-default btn-block") Back
    
  script.
    $("#joinGameId").click(function () {
        $("#connect").addClass("hide");

        socket.emit('join', $("#inputGameId").val().trim(), function(data) {
            pong.sync({ hosting: false, playersCount: parseInt(data.playersCount) });
        });
    });
    
    $(document).ready( function () {
      //- gameID = $("#secretLinkContainer").val().trim();
      //- $("#monitorGame").attr("href", "loteria/" + gameID );
    });
    
