extends layout

block content
  script(src='https://cdn.auth0.com/js/lock/12.0.2/lock.min.js')

  div(class="jumbotron vertical-center")
    div(id="menu" class="center")
      h1 Loteria 
      br
      form(action="/join" method="post")
        div(class="input-group")
          span(class="input-group-addon") Nickname
          if displayName
            input(name="nicknameContainer" class="form-control" placeholder="Nickname" value="#{displayName}" required)
          else
            input(name="nicknameContainer" class="form-control" placeholder="Nickname" required)
        div(class="input-group")
          span(class="input-group-addon") Secret Code
          input(name="secretCodeContainer" class="form-control" placeholder="Secret code" required)
          span(class="input-group-btn")
            input(id="joinGame" type="submit" class="btn btn-primary" value="Join")
      br
      p(class="red") #{error}
      p(class="green") #{success}
      a(href="../" class="btn btn-default btn-block") Back
    
 
    
    $(document).ready( function () {
      //- gameID = $("#secretLinkContainer").val().trim();
      //- $("#monitorGame").attr("href", "loteria/" + gameID );
    });
    
