doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script.
      var socket = io();
      
      
  body
    block content
