extends layout

block content  
  script(src="../javascripts/phaser.min.js")
  
  script(src="../javascripts/src/boot.js")
  script(src="../javascripts/src/preload.js")
  script(src="../javascripts/src/gameTitle.js")
  script(src="../javascripts/src/loteriaDealer.js")
  script(src="../javascripts/src/loteria.js")
  script(src="../javascripts/src/gameOver.js")
  
  script.
    var gameID = "#{gameID}";
    var dealer = "#{dealer}";
    var nickname = "#{nickname}";
    var deckSize = 0;
    var turn = 0;
    var cardsDealt = [];
    var cardNumber = 0;
    var deck = [];
    
    console.log("On jade (gameID) " + gameID);
    console.log("On jade (nickname) " + nickname);
    console.log("On jade (dealer) " + dealer);
    
    var game = new Phaser.Game(480, 800, Phaser.AUTO, "game");
    game.state.add("Boot", boot);
    game.state.add("Preload", preload);
    game.state.add("GameTitle", gameTitle);
    if (dealer) { game.state.add("Loteria", loteriaDealer); }
    else { game.state.add("Loteria", loteria); }
    
    game.state.add("GameOver", gameOver);
    
    
    // returns deck and initial turn
    jQuery.getJSON('/deck/'+gameID+'.json', function(json) {
        deck = json['deck'];
        deckSize = deck.length;
        turn = json['turn'];
        cardNumber = deck[turn];
        if (cardsDealt.length == 0) {
          for (var i = 0; i < turn; i++) {
            cardsDealt.push(deck[i]); // catch up the cardsDealt
          }
        }
        //- console.log(deck);
        nextCard();
        game.state.start("Boot");
    });
    
    function nextCard() {
      console.log("next card");
      jQuery.getJSON('/nextCard/'+gameID+'.json', function(json) {
          turn = json['turn'];
          cardNumber = deck[turn];
          cardsDealt.push(cardNumber);
          console.log('turn: ' + turn);
          console.log('cardnumber: ' + cardNumber);
      });
    }
    
    
    socket.on('connect', function(data) {
      socket.emit('join', 'Hello World from client');
    });
    
    function addMsg(msg) {
      var newMsg = $('<li>').text(msg);
      $('#messages').append(newMsg);
      newMsg.focus();
    }
    
    socket.on('chat message', function(msg) {
      addMsg(msg);
    });

  div(id="game" class="vertical-center")
      h1 Loteria
      if dealer
        button(onclick="nextCard()" class="btn btn-default btn-block") next
      a(href="../" class="btn btn-default btn-block") Back
