body {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

.icon {
  width: 15px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.hide {
  display: none;
}

.right {
  float: right;
}

.center {
  margin: auto;
}

.jumbotron {
   display: table-cell;
   vertical-align: middle;
}

/* fancy layout select */
/*based on: http://stackoverflow.com/questions/17541614/use-image-instead-of-radio-button */
.cc-selector input{
  margin:auto;
  margin:0;padding:0;
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
}

.fullBoard{background-image:url(../images/cards/full_board.png);}
.halfBoard{background-image:url(../images/cards/half_board.png);}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:75px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
/*fancyness end*/

#ui {
   width: 100%;
   position: absolute;
   top: 500;
   left: 400;
}

#btn-container {
  width: 300px;
}

#menu {
   width: 30%;
}

#game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(20px)
}

.button {
  font: 16px "YouTube Sans", "Roboto", "sans-serif";
  color: #FF00FF;
  background-color: #e2ed0b;
  padding: 5px 10px;
  border-radius: 5px;
}
.upperLabel
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-primary
{
  background-color: fuchsia;
  border-color: fuchsia;
  color : white;
}

.btn-primary:hover {
  background-color: #ffffff;
  border-color: black;
  color : fuchsia;
}


.jumbotron {
  background-image: url('../images/logoSiHayMujeresBajito.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h4 {
  color: white;
}

h3 {
  color: white;
}